---
import { Image } from "astro:assets";
import img from "@img/home/hero.png";
import PrimaryBtn from "@components/buttons/PrimaryBtn";
---

<section class="px-[2.5%] my-10">
  <div
    class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center lg:items-start justify-between space-y-5 lg:space-y-0"
  >
    <div class="grow shrink-0 max-w-xl lg:mt-20 text-center lg:text-left">
      <h1 class="font-black font-headline text-6xl">We Make Metal Beautiful</h1>
      <p class="mt-4 text-lg">
For the past half-century, Eyelet Crafters products have been widely used by the cosmetic, writing instruments, automotive, drapery hardware, electronics, medical and aerospace industries. Their innovative, cutting-edge technology and commitment to quality has enabled Eyelet Crafters to broaden its customer base to a global market. 
      </p>
      <PrimaryBtn to="/request-a-quote" className="mt-4"
        >Request A Quote</PrimaryBtn
      >
    </div>
    <div class="">
      <Image
        src={img}
        format="webp"
        loading="eager"
        alt="seidel aluminum anodizing"
        width={900}
        height={600}
      />
    </div>
  </div>
</section>
