---
import Selector from "@components/Selector/Selector";


const industriesData = [
  {
    name: "Tooling",
    title: "Tooling",
    p: "While tooling is normally custom to the application, Eyelet Crafters has a wide range of stock tooling available to address your requirements. The use of standard tooling saves both time and money in design. If your product requires new tooling, we offer complete in-house tool design and tool making. Eyelet Crafters uses only the very best materials in its tools, such as hardened wear-resistant steel punches coupled with high-polished carbide dies, which are the core of the deep drawn metal process.",
  },
  {
    name: "Fabrication",
    title: "Fabrication",
    p: 'We specialize in manufacturing deep drawn metal components from 1/8" to 4 1/8" in length. Our extensive experience includes using raw materials such as brass, copper, aluminum, high purity aluminum, special steel alloys, stainless steel and semi-precious metals. Additionally, we have the capability to incorporate intricate designs in the transfer press process including threading, side piercing, beading, rolling, and embossed and debossed markings.',
  },
  {
    name: "Decoration",
    title: "Decoration",
    p: "Most eyelet products require a decorative finish. Eyelet Crafters can buff your products to create a high polish, matte, florentine, textured or satin finish. We also provide lacquering, enameling and silk screening using durable decorative coatings with various translucent and opaque colors. Additional finishes include bright anodizing and electro-polishing.",
  },
  {
    name: "Assembly",
    title: "Assembly",
    p: "We offer melt gluing and press fit assemblies of metal caps and plastic closures. Depending on the application, closure options include either screw or slip fit. ",
  },
];
---

<section id="capabilities" class="px-[2.5%] bg-white py-20">
  <div class="max-w-8xl mx-auto">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="font-bold font-headline text-4xl">Our Capabilities</h2>
      <p class="mt-3 text-lg">
Eyelet Crafters is the company to use for drawn metal parts. Our capabilities include a wide range of applications from the cosmetics industry, automotive, electronic, writing instruments and aerospace. We design and create precision pieces to suit the ever-changing needs of our customers. Eyelet Crafters can provide a one stop solution to your needs. From design to tooling to production, we can do it all.
      </p>
      <Selector className="mt-16" data={industriesData} client:load />
    </div>
  </div>
</section>
